/*
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;}
.h1,h1{font-size:calc(1.375rem + 1.5vw)}@media (min-width:1200px){.h1,h1{font-size:2.5rem}}
.h2,h2{font-size:calc(1.325rem + .9vw)}@media (min-width:1200px){.h2,h2{font-size:2rem}}
.h3,h3{font-size:calc(1.3rem + .6vw)} @media (min-width:1200px){.h3,h3{font-size:1.75rem}}
.h4,h4{font-size:calc(1.275rem + .3vw)}@media (min-width:1200px){.h4,h4{font-size:1.5rem}}
.h5,h5{font-size:calc(1.25rem + .2vw)}@media (min-width:1200px){.h4,h4{font-size:1.5rem}}
.h6,h6{font-size:calc(1rem + .1vw)}@media (min-width:1200px){.h4,h4{font-size:1.5rem}}
p{margin-top:0;margin-bottom:1rem}
*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h1, h1 {
  font-size: max(20px, min(30px, 20px + (100vw - 400px) * 0.01666));
}

.h2, h2 {
  font-size: max(18px, min(26px, 18px + (100vw - 400px) * 0.01333));
}

.h3, h3 {
  font-size: max(17px, min(24px, 17px + (100vw - 400px) * 0.01166));
}

.h4, h4 {
  font-size: max(16px, min(22px, 16px + (100vw - 400px) * 0.01));
}

.h5, h5 {
  font-size: max(15px, min(20px, 15px + (100vw - 400px) * 0.00833));
}

.h6, h6 {
  font-size: max(14px, min(18px, 14px + (100vw - 400px) * 0.00666));
}

p {
  font-size: max(14px, min(18px, 14px + (100vw - 400px) * 0.00666));
  word-wrap: break-word;
}

body h1 {
  position: relative;
  padding-left: 25px;
}
body h1:before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #64c6b4;
}
body h1:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #64c6b4;
}
body h2 {
  padding: 0.5em;
  background: #fbfffe;
  border-left: solid 5px #aafff1;
}
body h3 {
  position: relative;
  padding-left: 1.2em;
  line-height: 1.4;
}
body h3:before {
  font-family: "FontAwesome";
  content: "\f04b";
  font-weight: 900;
  position: absolute;
  font-size: 17px;
  left: 7px;
  top: 3px;
  color: #67fcc0;
}

section {
  margin-bottom: 20px;
}

.no-li-style {
  list-style: none;
}

header {
  width: 100%;
  background-color: #64c6b4;
  text-align: center;
  padding: max(14px, min(16px, 14px + (100vw - 400px) * 0.00333));
}
header #site-name {
  color: #ffffff;
  font-weight: bold;
  font-size: max(20px, min(30px, 20px + (100vw - 400px) * 0.01666));
}

article {
  background-color: #f2f1e6;
  width: 100%;
  padding-left: max(14px, min(16px, 14px + (100vw - 400px) * 0.00333));
  padding-right: max(14px, min(16px, 14px + (100vw - 400px) * 0.00333));
}
article .content {
  background-color: #ffffff;
  padding: 30px;
}
article .content .push-date {
  font-size: max(14px, min(16px, 14px + (100vw - 400px) * 0.00333));
  color: #74717a;
  margin-bottom: 10px;
}
article .content .push-date li {
  display: inline-block;
  margin-right: 10px;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: #64c6b4;
  text-align: center;
}/*# sourceMappingURL=test.css.map */