body{margin:0}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;}
.h1,h1{font-size:max(35px,calc(min(50px,25px + 2vw)))}
.h2,h2{font-size:max(25px,calc(min(32px,22px + 1vw)))}
.h3,h3{font-size:max(22px,calc(min(28px,19px + 1vw)))}
.h4,h4{font-size:max(20px,calc(min(24px,17px + 1vw)))}
.h5,h5{font-size:max(18px,calc(min(22px,15px + 1vw)))}
.h6,h6{font-size:max(16px,calc(min(20px,13px + 1vw)))}
h1{font-weight: bold;}
p{font-size:max(16px,calc(min(20px,13px + 1vw)));margin-top:0;margin-bottom:1rem;}

