h1{font-size: max(35px,min(50px,calc(35px + (100vw - 500px) * 0.03)));}
h2{font-size: max(22px,min(30px,calc(22px + (100vw - 500px) * 0.03)));}
h3{font-size: max(20px,min(26px,calc(20px + (100vw - 500px) * 0.025)));}
h4{font-size: max(20px,min(26px,calc(20px + (100vw - 500px) * 0.02)));}
h5{font-size: max(20px,min(24px,calc(20px + (100vw - 500px) * 0.01)));}
h6{font-size: max(18px,min(22px,calc(18px + (100vw - 500px) * 0.01)));}
p{font-size: max(16px,min(20px,calc(16px + (100vw - 500px) * 0.01)));}