/* ▼初期化▼ */
abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{text-decoration:none}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}

:root{
    --font-color: #212121;
    --body-background: #adc39f;
}

@media all{
    .selector-for-some-widget {
        box-sizing: content-box;
    }
    body{
        font-family: "游ゴシック体", "Yu Gothic", "YuGothic", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        background: var(--body-background);
        color: var(--font-color);
    }
    a{
        color: inherit;
        text-decoration: none;
    }
    
}

/* ヘッダー */
@media all{
    #header-inner{
        text-align: center;
        padding: 0.5em 1em;
    }
    #header-title{
        margin: 0;
        font-weight: bold;
    }
    #header-text{
        margin: 0;
        font-weight: bold;
    }
}

/* 2カラム */
@media all{
    #container{
        margin:0;
        width: 100%;
    }
    #inner{
        margin-top: 30px;
        display: flex;
    }
}

/* プロフィール */
@media all{
    #icon{
        border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
        width:  180px;
        height: 180px;
        padding: 1vw;
        border: 1vw solid #4cccd5; /* 枠線を付加 */
        background: #b3e8ed;
    }
    #name{
        font-weight: bold;
    }
}

/* ページトップ */
@media all{
    #pagetop {/* 位置はscroll.jsで設定 */
        background:rgba(0,0,0,.8);/* 背景 */
        color:#b9e1d8;/* 色 */
        border:3px solid #b9e1d8;
        box-shadow:0 1px 5px #ccc;
        height:50px;width:50px; /* 大きさ */
        border-radius:30px;
        box-sizing:border-box;
        display:block;
        line-height:16px;
        padding-top:22px;
        position:fixed;
        text-align:center;
        z-index:10
    }
    #pagetop:before {
        content:'\25B2';
        font-size:14px;
        position:absolute;
        left:0;top:7px;
        width:100%
    }
    #pagetop:hover {
        background:rgba(255,255,255,.8)
    }
}
