<!DOCTYPE html>
<html lang="ja">
    <head>
        {% include head.html %}
    </head>
    <body>
        <header>
            {% include header.html %}
        </header>
        <div id="container">
            <div id="inner">
                <div id="left">
                    <div id="pr">
                        {% include pr.html %}
                    </div>
                </div>
                <div id="right">
                    <div id="detail">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <div id="add">
            <a href="#" id="pagetop">top</a>
        </div>
        {% include body-js.html %}
    </body>
</html>
