<!DOCTYPE html>
<html lang="ja">
    <head>
        {% include head.html %}
    </head>
    <body>
        <div id="container">
            <div id="inner">
                <div id="sub">
                    <div id="name">
                        {% include name.html %}
                    </div>
                </div>
                <div id="main">
                    <div id="about">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <div id="add">
            <a href="#" id="pagetop">top</a>
        </div>
        {% include body-js.html %}
    </body>
</html>
